.about {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--black);
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
}

.about__div-text {
  grid-column: span 7;
}

.about__title {
  margin: 0;
  margin-bottom: 12px;
  color: var(--white);
}

.about__subtitle {
  margin: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20.16px;
  line-height: 30px;
  color: var(--text_gray);
}

.about__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 32px;
  color: var(--text_gray);
}

.about__photo-1 {
  grid-column: span 2;
}

.about__photo-2,
.about__item {
  grid-column: span 3;
}

.about__photo-2 {
  margin-top: 18px;
}

.about__slider-wrapper {
  position: relative;
}

.about__swiper-btn {
  position: absolute;
  z-index: 13;
  top: 35%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border: 2px solid var(--text_gray);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background: none;
  cursor: pointer;
  transition: border-color .3s, background-color .3s;
}

.about__swiper-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 11.8px / 2);
  width: 11.8px;
  height: 11.8px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.about__swiper-btn:hover,
.about__swiper-btn:hover .about__prev {
  border-color: var(--primary_light);
}

.about__swiper-btn:focus {
  background-color: var(--primary_shade);
  outline: none;
}

.about__swiper-btn:active {
  background-color: var(--primary_light);
}

.about__prev {
  left: 0;
  transform: translate(-180%, -50%);
}

.about__prev::before {
  left: calc(50% - 9px / 2);
  border-left: 2px solid var(--text_gray);
  border-bottom: 2px solid var(--text_gray);
}

.about__next {
  right: 0;
  transform: translate(180%, -50%);
}

.about__next::before {
  left: calc(50% - 16px / 2);
  border-top: 2px solid var(--text_gray);
  border-right: 2px solid var(--text_gray);
}

.about__btn--disabled {
  pointer-events: none;
  cursor: auto;
}

.about__name {
  margin-top: 30px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1;
  color: var(--white);
}

.about__subtext {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--text_gray);
}

.about__form {
  grid-column: span 10;
  margin-top: 30px;
  margin-bottom: 30px;
}

.first-input {
  width: 920px;
  border-radius: 30px;
  padding-top: 32px;
  padding-bottom: 97px;
}

.about__input {
  margin-bottom: 30px;
  width: 445px;
}

.about__flex {
  display: flex;
  justify-content: space-between;
  width: 920px;
}

.just-validate-error-label {
  position: absolute;
  line-height: 1;
}

.is-valid {
  border-color: var(--green);
}

.is-invalid {
  border-color: var(--red);
}

.about__btn {
  padding: 23px 52px;
}

.about__checboxes {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
}

.about__checkbox-wrap {
  color: var(--white);
  cursor: pointer;
  transition: color 0.3s ease;
}

.about__checkbox-content {
  display: flex;
  align-items: center;
}

.about__visual-check {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  border: 1px solid var(--white);
  width: 14px;
  height: 14px;
  transition: border-color 0.3s ease;
}

.about__visual-check::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 12%;
  width: 10px;
  height: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.about__checkbox:checked ~ .about__checkbox-content .about__visual-check::before {
  opacity: 1;
  background: url("../img/checkbox-mark.svg") no-repeat center;
}

.about__check-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
}

@media (max-width: 1024px) {
  .about__grid {
    grid-template-columns: repeat(6, 1fr);
  }
    
  .about__div-text {
    grid-column: span 4;
  }

  .about__subtitle {
    font-weight: bold;
    font-size: 20.1px;
    line-height: 30px;
  }
  
  .about__text {
    font-size: 20px;
    line-height: 32px;
  }

  .about__photo-1 {
    display: none;
  }

  .about__photo-2 {
    grid-column: span 2;
    margin-top: 50px;
  }

  .about__prev {
    transform: translate(-158%, -30%);
  }
  
  .about__next {
    transform: translate(158%, -30%);
  }

  .about__flex,
  .first-input {
    width: 100%;
  }

  .about__form {
    margin-top: 37px;
  }

  .about__input {
    width: 397px;
  }
}

@media (max-width: 768px) {
  .about__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .about__subtitle {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }
    
  .about__text {
    font-size: 20px;
    line-height: 32px;
  }

  .about__photo-2 {
    margin: 0;
    margin-bottom: 30px;
    width: 112px;
    height: 112px;
  }

  .about__item {
    grid-column: span 2;
    width: 255px;
  }

  .about__form {
    margin-top: 30px;
    grid-column: span 4;
  }

  .about__flex {
    display: flex;
    flex-direction: column;
  }

  .about__input {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .about {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .about__swiper-btn {
    display: none;
  }

  .about__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__subtitle {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 21px;
  }
  
  .about__text {
    font-size: 14px;
    line-height: 22px;
  }

  .about__photo-2 {
    display: none;
  }

  .about__item {
    grid-column: span 1;
    width: 113px;
  }

  .about__name {
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
  }

  .about__subtext {
    font-size: 12px;
    line-height: 16px;
  }

  .about__form {
    grid-column: span 2;
    margin-bottom: 20px;
  }

  .first-input {
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 115px;
  }

  .about__btn {
    padding: 15px 42.5px;
    font-size: 16px;
  }

  .about__check-text {
    font-size: 9px;
  }
}