@import url("_variables.css");

.adv {
  padding-top: 94px;
  padding-bottom: 133px;
  background-color: var(--light_black);
}

.adv__item-1 {
  position: relative;
  max-width: 644px;
  margin-top: 8px;
  margin-right: 30px;
}

.adv__new {
  position: absolute;
  left: 0;
  top: -8px;
}

.adv__item-2 {
  max-width: 445px;
}

.adv__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 48px;
  line-height: 1;
  color: var(--promo_color);
}

.adv__photo {
  margin-bottom: 19px;
}

.adv__text {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 29px;
  color: var(--white);
}

.last-adv {
  margin-bottom: 30px;
}

.adv__price {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  color: var(--white);
}

.adv__btn {
  border: 2px solid var(--promo_color);
  border-radius: 40px;
  padding: 23px 11.5px;
  max-width: 300px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--promo_color);
  background: none;
  cursor: pointer;
  transition: color .3s, background-color .3s;
}

.adv__main-link-group {
  display: flex;
  align-items: center;
}

.adv__main-arrow {
  position: relative;
  margin-right: 6px;
}

.adv__btn:hover {
  color: var(--black);
  background-color: var(--promo_color);
}

.adv__btn:focus {
  background-color: var(--promo_color_shade);
  outline: none;
}

.adv__btn:active {
  border-color: var(--promo_color);
}

@media (max-width: 1024px) {
  .adv {
    padding-bottom: 94px;
  }

  .adv__item-1 {
    margin-top: 0px;
  }

  .adv__new {
    width: 100px;
    height: 100px;
  }

  .adv__text {
    width: 395px;
  }
}

@media (max-width: 768px) {
  .adv {
    padding-top: 54px;
    padding-bottom: 94px;
  }

  .adv__container {
    flex-direction: column;
  }
  
  .adv__item-1,
  .adv__item-2 {
    margin: 0;
    width: 100%;
  }

  .adv__new {
    top: 0;
    width: 160px;
    height: 160px;
  }

  .adv__item-1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .adv__item-1 {
    margin-bottom: 36px;
  }

  .adv__new {
    width: 62px;
    height: 62px;
  }

  .adv__title {
    margin-bottom: 12px;
    font-size: 24px;
  }

  .adv__text {
    width: 100%;
    font-size: 14px;
    line-height: 22.4px;
  }

  .last-adv {
    margin-bottom: 12px;
  }
  
  .adv__price {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .adv__btn {
    padding: 15px 13px;
    font-size: 16px;
  }
}
