.broadcasts {
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--black);
}

.broadcasts__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
}

.broadcasts__item-1 {
  grid-column: span 3;
}

.broadcasts__div {
  display: flex;
  justify-content: space-between;
}

.broadcasts__title {
  margin: 0;
  margin-bottom: 12px;
  color: var(--black);
}

.broadcasts__filter {
  margin-bottom: 227px;
}

.broadcasts__filter-subtitle {
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1;
  color: var(--text_gray);
}

.broadcasts__choices {
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 10px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1;
  background-color: var(--light_color);
  transition: background-color .3s, border-color .3s;
}

.broadcasts__choices:hover {
  background-color: var(--light_color_40);
}

.broadcasts__choices:focus {
  border-color: var(--primary);
  background-color: var(--light_color);
  outline: none;
}

.broadcasts__choices:active {
  background-color: var(--shade_gray);
}

.broadcasts__choices:last-child {
  margin-bottom: 0;
}

.broadcasts__choices.is-open {
  overflow: visible;
}

.broadcasts__choices.is-disabled .broadcasts__choices__inner,
.broadcasts__choices.is-disabled .broadcasts__choices__input {
  background-color: var(--text_gray);
  cursor: not-allowed;
  user-select: none;
}

.broadcasts__choices:last-child {
  margin-bottom: 0;
}

.broadcasts__choices.is-open {
  overflow: visible;
}

.broadcasts__choices.is-disabled .broadcasts__choices__inner,
.broadcasts__choices.is-disabled .broadcasts__choices__input {
  cursor: not-allowed;
  user-select: none;
}

.broadcasts__choices.is-disabled .broadcasts__choices__item {
  cursor: not-allowed;
}

.broadcasts__choices [hidden] {
  display: none;
}

.broadcasts__choices[data-type*=select-one] {
  cursor: pointer;
}

.broadcasts__choices[data-type*=select-one] .broadcasts__choices__inner {
  padding-bottom: 12px;
}

.broadcasts__choices[data-type*=select-one]::after {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  z-index: 3;
  right: 17px;
  top: 50%;
  margin-top: -4px;
  border-right: 1px solid var(--text_gray);
  border-bottom: 1px solid var(--text_gray);
  pointer-events: none;
  transform: rotate(45deg);
  transform-origin: center;
}

.broadcasts__choices[data-type*=select-one].is-open::after {
  transform: rotate(225deg) translate(-2px, -2px);
}

.broadcasts__choices__inner {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 12px;
  overflow: hidden;
}

.is-focused .broadcasts__choices__inner, .is-opened .broadcasts__choices__inner {
  background-color: var(--light_color);
}

.is-open .broadcasts__choices__inner {
  border-radius: 10px;
}

.broadcasts__choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.broadcasts__choices__list--single {
  display: inline-block;
  width: 100%;
}

.broadcasts__choices__list--single .broadcasts__choices__item {
  width: 100%;
}

.broadcasts__choices__list--dropdown {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  border: 1px solid var(--shade_gray);
  top: 100%;
  margin-top: -1px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}

.is-active.broadcasts__choices__list--dropdown, .is-active.broadcasts__choices__list[aria-expanded] {
  visibility: visible;
}

.broadcasts__choices__list--dropdown .broadcasts__choices__list, .broadcasts__choices__list[aria-expanded] .broadcasts__choices__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.broadcasts__choices__list--dropdown .broadcasts__choices__item, .broadcasts__choices__list[aria-expanded] .broadcasts__choices__item {
  position: relative;
  padding: 12px 15px;
  color: var(--shade_gray);
}

.broadcasts__choices__list--dropdown .broadcasts__choices__item.is-selected {
  display: none;
}

.broadcasts__choices__list--dropdown .broadcasts__choices__item:not(:last-child) {
  border-bottom: 1px solid;
}

.broadcasts__choices__item--selectable.is-highlighted:hover {
  border-bottom-color: var(--shade_gray);
  color: var(--black);
  background-color: var(--light_color_40);
}

.broadcasts__choices__item {
  cursor: default;
}

.broadcasts__choices__item--selectable {
  cursor: pointer;
}

.broadcasts__choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.5;
}

.broadcasts__section {
  display: flex;
  flex-direction: column;
}

.broadcasts__foto {
  margin-bottom: 24px;
}

.broadcasts__btn {
  width: 160px;
  margin-bottom: 12px;
  padding: 10px 54px;
}

.broadcasts__subtext {
  margin: 0;
  max-width: 255px;
  font-size: 16px;
  line-height: 24px;
  color: var(--text_gray);
}

.broadcasts__item-2 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 30px;
  grid-column: span 9;
  margin-top: 14px;
}

.broadcasts__cube {
  grid-column: span 3;
}

.broadcasts__item {
  border: 1px solid var(--light_color);
  padding: 19px 15px;
}

.broadcasts__subtitle {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--black);
}

.broadcasts__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1;
  color: var(--text_gray);
}

.broadcasts__link-div {
  display: flex;
  align-items: flex-start;
}

.broadcasts__link {
  margin: 0;
  font-style: italic;
  font-size: 16px;
  line-height: 1;
  color: var(--black);
  cursor: pointer;
}

.broadcasts__main-arrow {
  margin-left: 4px;
  color: var(--black);
}

.broadcasts__cube:hover picture,
.broadcasts__cube:active picture {
  opacity: 70%;
  transition: opacity .3s;
}

.broadcasts__cube:hover .broadcasts__link,
.broadcasts__cube:hover .broadcasts__main-arrow {
  color: var(--primary);
  transition: color .3s;
}

.broadcasts__cube:focus {
  border: 1px solid var(--primary);
  padding: 6px;
  outline: none;
}

.broadcasts__link:focus .broadcasts__main-arrow {
  color: var(--white);
}

.broadcasts__cube:active .broadcasts__link,
.broadcasts__cube:active .broadcasts__main-arrow {
  color: var(--primary_shade);
}

@media (max-width: 1024px) {
  .broadcasts__grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .broadcasts__item-1 {
    grid-column: span 2;
  }

  .broadcasts__item-2 {
    grid-template-columns: repeat(4, 1fr);
    grid-column: span 4;
  }

  .broadcasts__cube {
    grid-column: span 2;
  }
}

@media (max-width: 768px) {
  .broadcasts__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  
  .broadcasts__item-1,
  .broadcasts__item-2 {
    grid-column: span 4;
  }

  .broadcasts__section {
    order: 2;
  }
}

@media (max-width: 576px) {
  .broadcasts {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .broadcasts__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .broadcasts__item-1 {
    grid-column: span 2;
  }
  
  .broadcasts__title {
    margin-bottom: 20px;
  }  

  .broadcasts__filter {
    margin-bottom: 30px;
  }
  
  .broadcasts__filter-subtitle {
    margin-bottom: 6px;
    font-size: 12px;
  }

  .broadcasts__item-2 {
    grid-column: span 2;
    column-count: 2;
  }

  .broadcasts__item {
    padding: 9px;
  }

  .broadcasts__subtitle {
    margin-bottom: 5px;
    font-size: 12px;
  }
  
  .broadcasts__text {
    margin-bottom: 18px;
    font-size: 9px;
  }

  .broadcasts__link {
    font-size: 12px;
  }
}