@import url("_variables.css");

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after  {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

body {
  min-width: 320px;
  font-family: "Muller", sans-serif;
  font-size: 16px;
  line-height: 32px;
  background-color: var(--white);
}

.checkbox-hidden {
  position: absolute;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container-site {
  color: var(--text_gray);
  transition: color .3s;
}

.container-site:hover {
  color: var(--primary);
}

.container-site:focus {
  color: var(--primary_light);
  outline: none;
}

.container-site:active {
  color: var(--primary_shade);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-title {
  margin: 0;
  margin-bottom: 17px;
  max-width: 1080px;
  font-size: 48px;
  line-height: 1;
  font-weight: normal;
  color: var(--black);
}

.container-btn-1 {
  border: 2px solid transparent;
  border-radius: 40px;
  padding: 23px 52px;
  font-size: 20px;
  line-height: 1;
  color: var(--white);
  background-color: var(--primary);
  cursor: pointer;
  transition: background-color .3s, border-color .3s;
}

.container-btn-1:hover {
  background-color: var(--primary_light);
}

.container-btn-1:focus {
  border-color: var(--primary_shade);
  background-color: var(--primary_light);
  outline: none;
}

.container-btn-1:active {
  background-color: var(--primary_shade);
}

.container-btn-2 {
  padding: 10px 30.5px;
  border: 2px solid var(--black);
  border-radius: 77px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background: none;
  cursor: pointer;
  transition: color .3s, background-color .3s, border-color .3s;
}

.container-btn-2:hover {
  color: var(--white);
  background-color: var(--black);
}

.container-btn-2:focus {
  color: var(--black);
  background-color: var(--primary_light);
  outline: none;
}

.container-btn-2:active {
  color: var(--white);
  background-color: var(--primary_shade);
}

.container-link {
  position: relative;
  padding: 0;
  border: none;
  background: none;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.container-link::before {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  top: -3px;
  bottom: -1px;
  background-color: var(--primary_light);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.container-link:hover {
  color: var(--primary);
}

.container-link:focus:not(:active)::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.container-link:focus:not(:hover):not(:active) {
  color: var(--white);
  outline: none;
}

.container-link:active {
  color: var(--primary_shade);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.container-focus-link {
  position: relative;
  top: 0;
}

.container-label {
  display: block;
  position: relative;
}

.container-input {
  margin-bottom: 30px;
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 27px;
  padding-bottom: 23px;
  border: 1px solid var(--white);
  border-radius: 40px;
  width: 526px;
  color: var(--white);
  background: none;
  caret-color: var(--white);
  transition: background-color .3s;
}

.container-input::placeholder {
  font-size: 20px;
  line-height: 1;
  color: var(--text_gray);
}

.container-input:hover,
.container-input:focus {
  background-color: var(--light_color_40);
}

.container-input:focus {
  border-color: var(--primary_light);
  outline: none;
}

.just-validate-error-label {
  position: absolute;
  left: 32px;
  top: 9px;
  font-size: 12px;
  line-height: 1;
  color: var(--red);
}

.modal {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal-container {
  margin: 80px auto;
  padding: 60px;
  width: 824px;
  position: relative;
  background-color: var(--black);
  transition: all 5s ease-in-out;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  transition: all 200ms;
}

.container-popap-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 78px;
}

.container-popap-text {
  font-size: 32px;
  line-height: 1;
  color: var(--black);
}

.modal-title {
  margin-bottom: 13px;
  color: var(--white);
}

.modal-photo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-text-one,
.modal-text-two {
  margin: 0;
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 1;
  color: var(--white);
}

.modal-text-two {
  margin-top: 29px;
  margin-bottom: 33px;
}

.modal-link {
  font-size: 20px;
  line-height: 30px;
  color: var(--primary);
  outline: none;
}

.modal-link:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--primary);
}

.modal-form {
  padding-bottom: 29px;
  max-width: 526px;
  border-bottom: 1px solid var(--light_color_40);
}

.modal-input {
  width: 526px;
}

.modal-btn {
  padding: 23px 52px;
}

.modal-links {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}

input[type=text]::-ms-clear {
  display: none;
  width : 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 883px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }

  .modal-container {
    padding-left: 40px;
    padding-right: 40px;
    width: 539px;
  }

  .modal-input {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 316px;
  }

  .container-title {
    font-size: 24px;
    line-height: 1;
  }

  .container-link {
    font-size: 16px;
  }

  .container-btn-1 {
    border-radius: 40px;
    padding: 15px 43px;
    font-size: 16px;
  }

  .container-input {
    padding-left: 22px;
    padding-right: 31px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .container-input::placeholder {
    font-size: 16px;
  }

  .modal-close {
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
  }
  
  .modal-container {
    padding: 40px 20px;
    width: 256px;
  }

  .modal-text-one,
  .modal-text-two {
    margin: 0;
    font-size: 12px;
    line-height: 2;
    color: var(--text_gray);
  }

  .modal-text-two {
    margin-top: 10px;
    margin-bottom: 13px;
  }

  .modal-link {
    font-size: 12px;
    line-height: 18px;
  }

  .modal-input {
    padding: 10px 16px;
  }
}
