@import url("_variables.css");

.podcatsts {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--light_color);
}

.podcatsts__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.podcatsts__item {
  position: relative;
  grid-column: span 6;
  display: flex;
  flex-direction: row;
  background-color: var(--white);
}

.podcatsts__section {
  position: relative;
}

.podcatsts__date {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 16px;
  font-size: 10px;
  line-height: 1;
  background-color: var(--light_color);
}

.podcatsts__cube {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 23px;
}

.podcatsts__subbtn {
  position: absolute;
  right: 30px;
  top: 30px;
  border: none;
  padding: 0;
  color: var(--text_gray);
  background: none;
  cursor: pointer;
  outline: none;
  transition: color .3s;
}

.podcatsts__item:hover .podcatsts__subbtn {
  color: var(--primary);
}

.podcatsts__item:focus .podcatsts__subbtn {
  color: var(--primary_light);
  outline: none;
}

.podcatsts__item:active .podcatsts__subbtn  {
  color: var(--primary_shade);
}

.podcatsts__div {
  padding-left: 30px;
}

.podcatsts__time {
  margin: 0;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  color: var(--black);
}

.podcatsts__subtitle {
  margin: 0;
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 1;
  color: var(--black);
}

.podcatsts__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1;
  color: var(--text_gray);
}

.podcatsts__links {
  padding-left: 30px;
  border-top: 1px solid var(--light_color);
}

.podcatsts__link {
  position: relative;
  flex-shrink: 0;
  font-weight: normal;
  transition: color .3s ease;
}

.podcatsts__link {
  color: var(--text_gray);
}

.podcatsts__link:not(:last-child) {
  margin-right: 30px;
}

.podcatsts__icon {
  display: block;
  height: 13px;
}

.podcatsts__btn-cube {
  display: flex;
  justify-content: center;
}

.podcatsts__btn {
  padding: 23px 52px;
  border: 2px solid var(--primary);
  border-radius: 40px;
  font-size: 20px;
  line-height: 100%;
  background: none;
  color: var(--primary);
  cursor: pointer;
  transition: color .3s, background-color .3s;
}

.podcatsts__btn:hover {
  background-color: var(--primary);
  color: var(--white);
}

.podcatsts__btn:focus {
  background-color: var(--primary_light);
  outline: none;
}

.podcatsts__btn:active {
  background-color: var(--primary_shade);
}

.podcatsts__group {
  display: none;
  transition: transform .5s ease-in-out;
}

.podcatsts__group.is-active {
  display: block;
}

@media (max-width: 1024px) {
  .podcatsts__grid {
    grid-template-columns: repeat(6, 1fr);
  }
  
  .podcatsts__item {
    grid-column: span 3;
  }
}

@media (max-width: 768px) {
  .podcatsts__grid {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .podcatsts__item {
    grid-column: span 4;
  }
}

@media (max-width: 576px) {
  .podcatsts {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .podcatsts__grid {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
    margin-bottom: 30px;
  }

  .podcatsts__item {
    flex-direction: column;
  }

  .podcatsts__subbtn {
    right: 18.2px;
    top: 99px;
    width: 31.5px;
    height: 31.5px;
  }

  .podcatsts__date {
    top: 0;
  }

  .podcatsts__cube {
    padding-top: 16px;
  }

  .podcatsts__div {
    padding-left: 16px;
  }

  .podcatsts__subtitle {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .podcatsts__title {
    margin-bottom: 16px;
    font-size: 12px;
  }

  .podcatsts__links {
    padding-left: 34px;
  }

  .podcasts-mobile {
    display: none;
  }

  .podcatsts__btn {
    padding: 15px 28px;
    font-size: 16px;
  }
}
